---
layout: home-base
---
<body>
    <div class="home" itemscope itemtype="http://schema.org/Person">
        <div class="main">
            <div class="content">
                <div class="my-photo">
                    <img alt="my photo" src="{{ site.avata_url }}" />
                </div>
                <h1 itemprop="name" class="title-text">{{ site.author }}</h1>
                {% include info/follow-me.html %}
                {% include info/site-maps.html %}
            </div>
        </div>
    </div>
</body>