<svg viewBox="0 0 2 2" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <radialGradient id="grad-green-yellow" cx="50%" cy="50%" r="80%" fx="50%" fy="80%">
            <stop offset="30%" style="stop-color:rgb(181,230,29);
                    stop-opacity:1" />
            <stop offset="70%" style="stop-color:rgb(255,201,14);
                    stop-opacity:1" />
        </radialGradient>
    </defs>
    <g transform="translate(1, 1)">
        <path fill="url(#grad-green-yellow)" d="
                    M 0 1
                    Q 0 0  1 0

                    Q 1 -0.577350  0.692820 -0.4
                    Q 1 -0.577350  0.5 -0.866025
                    
                    Q 0 -1.154700  0 -0.618034
                    Q 0 -1.154700 -0.5 -0.866025

                    Q-1 -0.577350 -0.692820 -0.4
                    Q-1 -0.577350 -1 0
                    
                    Q 0 0 0 1">
        </path>
    </g>
</svg>
