---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "settings/base";

$green-l-clr: #b5e61d;
$green-d-clr: #22b14c;
$yellow-l-clr: #ffc90e;
$yellow-d-clr: #ff7f27;
$red-l-clr: #ffaec9;
$red-d-clr: #ed1c24;

body {
    padding: 0;
    margin: 0;
}

#header {
    padding: .5em 0 1em 0;
    background-image: url(http://7xpqpj.com1.z0.glb.clouddn.com/image/cover/ginkgo.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 0%;
    color: #fff;
    text-align: center;
    h1 {
        text-shadow: 0 0 3px rgba(0,0,0, 0.5);
        display: inline-block;
        font-size: 2.5em;
        font-weight: normal;
        @include media-query($on-palm) {
            font-size: 2em;
        }
    }
}

.logo {
    display: table;
    margin: 40px auto;
    @include media-query($on-palm) {
        margin: 25px auto;
    }
}

.logo-pic {
    width: 5em;
    height: 5em;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(45deg);
    @include media-query($on-palm) {
        width: 2.5em;
        height: 2.5em;
    }
}

.logo-text {
    display: inline-block;
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 2em;
    font-weight: normal;
    vertical-align: middle;
    @include media-query($on-palm) {
        font-size: 1.5em;
    }
}

#logo-pure-1 {
    fill: $green-l-clr;
    .logo-text span {
        color: $green-l-clr;
    }
}

#logo-pure-2 {
    fill: $green-d-clr;
    .logo-text span {
        color: $green-d-clr;
    }
}


#logo-pure-3 {
    fill: $yellow-l-clr;
    .logo-text span {
        color: $yellow-l-clr;
    }
}


#logo-pure-4 {
    fill: $yellow-d-clr;
    .logo-text span {
        color: $yellow-d-clr;
    }
}

#logo-dual-1 {
    #left-qingko {
        fill: $green-l-clr;
    }
    #right-qingko {
        fill: $green-d-clr;
    }
    .logo-text span {
        color: $green-d-clr;
    }
}

#logo-dual-2 {
    #left-qingko {
        fill: $yellow-l-clr;
    }
    #right-qingko {
        fill: $yellow-d-clr;
    }
    .logo-text span {
        color: $yellow-d-clr;
    }
}

#logo-dual-3 {
    #left-qingko {
        fill: $red-l-clr;
    }
    #right-qingko {
        fill: $red-d-clr;
    }
    .logo-text span {
        color: $red-d-clr;
    }
}

#footer {
    background-color: #000;
    color: #ddd;
    padding: 2em 0;
    text-align: center;
    a {
        text-decoration: none;
        color: #ddd;
        font-weight: bold;
        &:hover {
            text-shadow: 0 0 1px #ddd;
        }
    }
}
