<link rel="icon" sizes="128x128" type="image/vnd.microsoft.icon" href="/statics/images/logo/favicon-128x128.ico" />
<link rel="icon" sizes="64x64" type="image/vnd.microsoft.icon" href="/statics/images/logo/favicon-64x64.ico" />
<link rel="icon" sizes="48x48" type="image/vnd.microsoft.icon" href="/statics/images/logo/favicon-48x48.ico" />
<link rel="icon" sizes="32x32" type="image/vnd.microsoft.icon" href="/statics/images/logo/favicon-32x32.ico" />
<link rel="icon" sizes="16x16" type="image/vnd.microsoft.icon" href="/statics/images/logo/favicon-16x16.ico" />
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">

<!-- iPad and iPad mini (with @2× display) iOS ≥ 8 -->
<link rel="apple-touch-icon" sizes="180x180" href="/statics/images/logo/apple-touch-icon-180x180.png">
<!-- iPad 3+ (with @2× display) iOS ≥ 7 -->
<link rel="apple-touch-icon" sizes="152x152" href="/statics/images/logo/apple-touch-icon-152x152.png">
<!-- iPad (with @2× display) iOS ≤ 6 -->
<link rel="apple-touch-icon" sizes="144x144" href="/statics/images/logo/apple-touch-icon-144x144.png">
<!-- iPhone (with @2× and @3 display) iOS ≥ 7 -->
<link rel="apple-touch-icon" sizes="120x120" href="/statics/images/logo/apple-touch-icon-120x120.png">
<!-- iPhone (with @2× display) iOS ≤ 6 -->
<link rel="apple-touch-icon" sizes="114x114" href="/statics/images/logo/apple-touch-icon-114x114.png">
<!-- iPad mini and the first- and second-generation iPad (@1× display) on iOS ≥ 7 -->
<link rel="apple-touch-icon" sizes="76x76" href="/statics/images/logo/apple-touch-icon-76x76.png">
<!-- iPad mini and the first- and second-generation iPad (@1× display) on iOS ≤ 6 -->
<link rel="apple-touch-icon" sizes="72x72" href="/statics/images/logo/apple-touch-icon-72x72.png">
<!-- Android Stock Browser and non-Retina iPhone and iPod Touch -->
<link rel="apple-touch-icon" href="/statics/images/logo/apple-touch-icon-57x57.png">
<!-- Fallback for everything else -->
<link rel="shortcut icon" href="/statics/images/logo/apple-touch-icon.png">

<!--
    Chrome 31+ has home screen icon 192×192 (the recommended size for multiple resolutions).
    If it’s not defined on that size it will take 128×128.
-->
<link rel="icon" sizes="192x192" href="/statics/images/logo/touch-icon-192x192.png">
<link rel="icon" sizes="128x128" href="/statics/images/logo/touch-icon-128x128.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="/statics/images/logo/apple-touch-icon-144x144.png">
<meta name="msapplication-TileColor" content="#222222">
