<div id="page-header">
    <div class="site-header-content">
        <header class="wrapper-col">
            <a class="site-title header-link" title="{{ site.description }}" href="{{ site.baseurl }}/">{{ site.title }}</a>
            <a type="application/rss+xml" href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">
                <div id="rss-button"class="icon-button" title="Subscribe to my RSS feed!">            
                    <span class="icon icon--rss">{% include icon/icon-rss.svg %}</span> 
                </div>
            </a>           
            
            <nav class="site-nav wrapper-col">
                <li><a class="header-link" href="{{ "/blog" }}"> Home </a></li>
                <li><a class="header-link" href="{{ "/all.html" | prepend: site.baseurl | append: "?tag=" }}"> All </a></li>
                <li><a class="header-link" href="{{ "/about" | prepend: site.baseurl }}"> About </a></li>
            </nav>
            
            <button id="menu-button" class="icon-button" onclick="headerMenuClick()">
                <span class="icon icon--menu">{% include icon/icon-menu.svg %}</span>
            </button>
            
        </header>
    </div>
    <script>
    /* haeder menu-button click */
        function headerMenuClick(){
            $("#page-header .site-header-content").toggleClass("site-nav-out");
        }
    </script>
</div>