$bg-color: #2c3e50;

$border-color: #dd1144;
$botton-color: #dd1144;
$link-color: lighten($border-color, 20%);
$white-color: #ffffff;

///
// logo colors
$weibo-color:       #e6162d;
$google-plus-color: #ea4335;
$twitter-color:     #1da1f2;
$douban-color:      #42bd56;
$github-color:      #000000;