---
layout: none
title: Logos view
excerpt: Logos view
---
<html lang="{{ site.lang }}">

    <head>
        {% include common-head.html %}
        {% include blog/head-icons-rel.html %}
        <link rel="stylesheet" href="{{ "/css/logo-view.css" | prepend: site.baseurl | replace:'//','/' }}">
    </head>

<body>
    <header id="header">
        <h1>My logos</h1>
    </header>
    <div id="logo-list">
        <div id="logo-pure-1" class="logo">
            <div class="logo-pic">
                {% include logo/gingko.html %}
            </div>
            <h2 class="logo-text">Thomas's blog</h2>
        </div>
        <div id="logo-pure-2" class="logo">
            <div class="logo-pic">
                {% include logo/gingko.html %}
            </div>
            <h2 class="logo-text">Thomas's blog</h2>
        </div>
        <div id="logo-pure-3" class="logo">
            <div class="logo-pic">
                {% include logo/gingko.html %}
            </div>
            <h2 class="logo-text">Thomas's blog</h2>
        </div>
        <div id="logo-pure-4" class="logo">
            <div class="logo-pic">
                {% include logo/gingko.html %}
            </div>
            <h2 class="logo-text">Thomas's blog</h2>
        </div>
        <div id="logo-pure-gradient-1" class="logo">
            <div class="logo-pic">
                {% include logo/gingko-grad-green.html %}
            </div>
            <h2 class="logo-text">Thomas's blog</h2>
        </div>
        <div id="logo-pure-gradient-2" class="logo">
            <div class="logo-pic">
                {% include logo/gingko-grad-yellow.html %}
            </div>
            <h2 class="logo-text">Thomas's blog</h2>
        </div>
        <div id="logo-pure-gradient" class="logo">
            <div class="logo-pic">
                {% include logo/gingko-grad-green-yellow.html %}
            </div>
            <h2 class="logo-text">Thomas's blog</h2>
        </div>
        <div id="logo-dual-1" class="logo">
            <div class="logo-pic">
                {% include logo/gingko-dual.html %}
            </div>
            <h2 class="logo-text">Thomas's <span>blog</span></h2>
        </div>
        <div id="logo-dual-2" class="logo">
            <div class="logo-pic">
                {% include logo/gingko-dual.html %}
            </div>
            <h2 class="logo-text">Thomas's <span>blog</span></h2>
        </div>
        <div id="logo-dual-3" class="logo">
            <div class="logo-pic">
                {% include logo/gingko-dual.html %}
            </div>
            <h2 class="logo-text">Thomas's <span>blog</span></h2>
        </div>
    </div>
    <footer id="footer">
        <p>Designed by <a href="{{ site.baseurl }}/">Thomas Tian</a>.
        <p>Nov 19th, 2016</p>
    </footer>
</body>

</html>
