<div class="article-data">
	{% if post %}
	<h3>
        <a class="article-link" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
    </h3>
	{% elsif page %}
	<h1 itemprop="headline" class="article-title" itemprop="name headline">{{ page.title }}</h1>     
    <meta itemprop="author" itemscope itemtype="https://schema.org/Person">
        {% if page.author %}
            <meta itemprop="name" content="{{ page.author }}"/>
        {% elsif site.author %}
            <meta itemprop="name" content="{{ site.author }}"/>
        {% endif %}
    </meta>
	{% endif %}
    <div class="date-wrapper wrapper-col">
        <div class="icon icon-date" title="Publish date">{% include icon/icon-date.svg %}</div>
        {% if post %}
            <span class="article-meta">{{ post.date | date: "%b %d, %Y" }}</span>
        {% elsif page %}
            <time class="article-meta" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%b %-d, %Y" }}
            </time>
        {% endif %}
    </div>

	{% if post %}
		{% assign cur_page = post %}
    {% elsif page %}
		{% assign cur_page = page %}
	{% endif %}
	{% if cur_page.tags[0] %}
    <div class="tag-wrapper wrapper-col"> 
        <div class="icon icon-tag" title="Article tags">{% include icon/icon-tag.svg %}</div>
        
        {% for tag in cur_page.tags %}
        <a class="article-tag round-rect-button" href="{{ "/all.html?tag=" | prepend: site.blog.baseurl | prepend: site.baseurl | append: tag | replace: '//', '/' }}"> {{ tag }} </a>
        {% endfor %}
    </div>
	{% endif %}

    <div class="view-wrapper wrapper-col"> 
            <div class="icon icon-view" title="Article tags">{% include icon/icon-view.svg %}</div>
            <span class="article-view" id="post-key-{{ cur_page.key }}">0</span>
    </div>
</div>
