<link rel="icon" sizes="128x128" type="image/vnd.microsoft.icon" href="/logo/favicon-128x128.ico" />
<link rel="icon" sizes="64x64" type="image/vnd.microsoft.icon" href="/logo/favicon-64x64.ico" />
<link rel="icon" sizes="48x48" type="image/vnd.microsoft.icon" href="/logo/favicon-48x48.ico" />
<link rel="icon" sizes="32x32" type="image/vnd.microsoft.icon" href="/logo/favicon-32x32.ico" />
<link rel="icon" sizes="16x16" type="image/vnd.microsoft.icon" href="/logo/favicon-16x16.ico" />
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/logo/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="/logo/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="/logo/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="/logo/touch-icon-ipad-retina.png">
