///
// Colors Setting
//
// bg = background
// bd = border
// tx = text
// sd = shadow
// hv = hover
// sl = select
// ac = active
// m = main
// l = light
// d = dark
// clr = color
/////
//
$black-color:   #000;
$white-color:   #fff;
/////
// main colors (!! Color THEME !!)
/////
//
$main-color:    #fc4d50;

/////
// background colors
/////
//
$bg-clr:        $white-color;
//
$bg-image:      none;
//
/////
// border and shadow colors
/////
$bd-clr:            rgba(0, 0, 0, .2);
$sd-clr:            rgba(0, 0, 0, .4);
/////
// text colors
/////
$head-tx-clr:           #333;
$main-tx-odd-clr:       rgba(255, 255, 255, .9);
$main-tx-odd-clr-sub:   rgba(255, 255, 255, .7);
//
$select-clr:    rgba($main-color, .5);

$text-clr-d:    #333;
$text-clr:      #666;
$text-clr-l:    #999;

//////
///
//////
// link colors
$link-clr:      $main-color;
$link-hv-clr:	$main-color;
//bottom color
$botton-hv-clr:	$main-color;

//table color
$table-bd-clr:  $bd-clr;
$table-bg-clr:  #f2f2f2;

///
//code color
$code-title-bg-clr:	#f2f2f2;
$code-title-tx-clr: $bd-clr;
$code-bg-clr:	    #f2f2f2;
$code-bd-clr:	    $bd-clr;

///
//header
$header-tx-clr:     $text-clr;
$header-lk-clr:     $text-clr;
$header-lk-hv-clr:  $main-color;

///
//right side headign color
$right-side-h-clr:  $bd-clr;

///
//article tag
$tag-article-bg-clr:     #f2f2f2;
$tag-article-bd-clr:     $bd-clr;
$tag-article-tx-clr:     $text-clr-l;
$tag-article-bg-hv-clr:  $main-color;
$tag-article-bd-hv-clr:  $main-color;
$tag-article-tx-hv-clr:  $main-tx-odd-clr;

///
//all page tags
$tag-all-bg-clr: 	$main-color;
$tag-all-bd-clr: 	$main-color;
$tag-all-tx-clr: 	$main-tx-odd-clr;
$tag-all-bg-hv-clr:	$main-color;
$tag-all-bd-hv-clr: $main-color;
$tag-all-tx-hv-clr: $main-tx-odd-clr;

$tag-bd-clr: 	transparent;
$tag-bg-clr:    $main-color;
$tag-bg-clr-1:  $main-color;
$tag-bg-clr-2:  $main-color;
$tag-bg-clr-3:  $main-color;
$tag-bg-clr-4: 	$main-color;
$tag-tx-clr: 	$main-tx-odd-clr;
$tag-bg-hv-clr: $main-color;
$tag-bd-hv-clr: transparent;
$tag-tx-hv-clr: $main-tx-odd-clr;

///
//toc
$toc-tx-clr:        $text-clr-l;
$toc-tx-hv-clr:     $main-color;

///
//license
$license-bg-clr:    #f2f2f2;
$license-bd-clr:    $bd-clr;

///
//footer
$footer-bg-clr:     #f2f2f2;
$footer-tx-clr:     $text-clr;
$footer-lk-clr:     $text-clr;
$footer-lk-hv-clr:  $main-color;

///
// logo colors
$mail-color:        #0072c5;
$weibo-color:       #e6162d;
$google-plus-color: #ea4335;
$twitter-color:     #1da1f2;
$douban-color:      #42bd56;
$github-color:      #000;
