/**
 * Page content
 */
.m-page-stage {
    box-sizing: border-box;
    min-height: 100%;
    overflow:auto;
}

.m-page-content {
    padding-top: 40px;
    @include media-query($on-laptop) {
        padding-top: 10px;
    }
}
.m-page-main {
    margin: 0 auto;
    padding: 40px 0 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    @include media-query($on-laptop) {
        padding: 20px 0 20px;
    }
    @include media-query($on-palm) {
        padding: 10px 0 10px;
    }
}

