/**
 * Page content
 */
.m-page-stage {
    box-sizing: border-box;
    min-height: 100%;
    overflow:auto;
    padding-bottom: $footer-height;
}

.m-page-content {
    padding-top: 40px;
    @include media-query($on-laptop) {
        padding-top: 10px;
    }
}
.m-page-main {
    margin: 0 auto;
    padding: $spacing-unit 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    @include media-query($on-laptop) {
        padding: $spacing-unit / 2 0;
    }
    @include media-query($on-palm) {
        padding: $spacing-unit / 4 0;
    }
}

