body {
	background-color: $bg-clr;
	@if $bg-image != none {
		background-image: $bg-image;
		background-repeat: repeat;
	}
    @include media-query($on-laptop) {
        background-color: $card-bg-clr;
    }
}
