.m-post-list {
    & > article {
        h1 {
            font-size: $base-font-size * 1.6;
            & > a {
                @include link-normal {
                    color: $text-clr-d;
                }
                @include link-emphasize {
                    color: $header-lk-hv-clr;
                }
                color: $text-clr-d;
            }
        }
        padding-bottom: $spacing-unit;
    }
    .m-article-content {
        margin: $spacing-unit / 2 0;
        img {
            max-height: 160px;
        }
    }
}