.all {
    .yaer-title{
        display: block;
        padding: 1em 3em 0 0;
        margin: 0;
        font-size: $base-font-size * 1.5;
        border-color: $bd-clr;
        border-bottom-style: dashed;
        border-width: 2px;
    }
    
    .year-wrapper {
        padding: 10px;
        margin: 15px 0;
    }
    .post-date {
        display: inline-block;
        font-size: $small-font-size;
        line-height: 1;
        color: $main-tx-clr;
        width: 4em;
    }
    
    .post-link {
        font-size: $base-font-size;
        line-height: 1;
    }
    
    .post-list {
        margin-bottom: 1em;
    }
    .post-block {
        list-style-type: none;
        margin: .4em 0 .4em 1em;      
    }
    nav {
        padding: 10px;
        border-color: $bd-clr;
        border-left-style: solid;
        border-left-width: 4px;
        margin: 15px 0;
        
        background-color: $bg-clr;
    }
}
