.layout--author {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, .35), rgba(0, 0, 0, .8)),
    url(https://wx1.sinaimg.cn/large/73bd9e13ly1fjkr4ydmixj21kw123wr0.jpg)
    #333 no-repeat fixed 50% 50%;
  background-size: cover;

  .main {
    animation: fade-in-down .8s;
    h1 {
      margin: 0;
      color: $text-color-theme-dark-d;
    }
    a {
      @include link-colors($text-color-theme-dark-d);
    }
  }

  .content {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    padding: .8rem 0 .8rem / 4 0;
    margin: 0 auto;
  }

  .author-avatar {
    display: inline-block;
    &:hover {
      transform: rotate(360deg);
    }
    img {
      display: block;
      width: 9rem;
      height: 9rem;
      border: 5px solid rgba(255, 255, 255, .5);
      border-radius: 5rem;
    }
    @include transition(transform .8s ease);
  }
}

