.m-article-data {

	.article-title {
		font-size: $h1-font-size;
		letter-spacing: -1px;
	}

	.article-link {
		display: block;
		letter-spacing: -1px;
		font-size: $h3-font-size;
	}

    .icon {
        float: left;
        > svg {
            width: 1.6em;
            height: 1.6em;
            path {
                fill: $text-clr-l;
            }
        }
        margin-right: 0.2em;
	}

    .date-wrapper, .tag-wrapper, .view-wrapper {
    	display: inline-block;
        line-height: 1;
        font-size: $small-font-size;
	}

	.date-wrapper {
		margin: 0 0.5em 0 0;
		.article-meta {
			float: left;
            line-height: 1.6;
		}
	}

	.tag-wrapper {
		margin: 0 0.5em 0 0;

		.article-tag {
            float: left;
			background-color: $tag-article-bg-clr;
			border-color: $tag-article-bd-clr;
			&:hover, &:active {
				background-color: $tag-article-bg-hv-clr;
				border-color: $tag-article-bd-hv-clr;
			}

			&:not(:last-child) {
				margin-right: 8px;
			}
		}
	}

	.view-wrapper {
		.icon-view {
			float: left;
		}
		span {
			float: left;
			line-height: 1.6;
		}
	}

}
