/**
 * Site Info
 */

.m-page-footer {
    background-color: $footer-bg-clr;
    p {
        color: $footer-tx-clr;
    }
    a {
        color: $footer-lk-clr;
        &:visited {
            color: $footer-lk-clr;
        }
        &:hover {
          color: $footer-lk-hv-clr;
        }
        &:active {
            color: $footer-lk-clr;
        }
    }
    .follow-me {
        padding: $spacing-unit 0 0 0;
        margin: 0 auto;
        .round-button {
            box-shadow: 0 0 4px $sd-clr;
        }
        .mail {
            display: none;
        }
    }
    .site-info {
        padding: 0 0 $spacing-unit 0;
    }
    .site-info-main {
        display: table;
        font-size: $footer-font-size;
        text-align: center;
        margin: 0 auto;
    }
}