/**
 * Site header (with bg-pic)
 */
#page-header {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: $spacing-unit / 2 0;
    color: $header-tx-clr;
    background-color: $header-bg-clr;
    box-shadow: 0 1px 4px $sd-clr;
    ul {
        list-style-type: none;
    }
    a {
        color: $header-lk-clr;
        &:visited {
            color: $header-lk-clr;
        }
        &:hover, &:active {
            color: $header-lk-hv-clr;
        }
    }
    .icon {
        path {
            fill: $header-lk-clr;
            -webkit-transition: fill .8s ease 0s;
            -moz-transition: fill .8s ease 0s;
            transition: fill .8s ease 0s;
        }
        &:hover, &:active {
            path {
                fill: $header-lk-hv-clr;
            }
        }
    }
    /**
    * Site title
    */
    .title-wrapper {
        float: left;
        padding: 0 0 0 $spacing-unit;
    }
    .site-title {
        display: block;
        float: left;
        font-size: $h2-font-size;
        font-weight: $bold-font-weight;
        line-height: 1.5;
        letter-spacing: -1px;

        margin-right: 8px;
    }
    //RSS
    #rss-button {
        display: block;
        float: left;
        svg {
            width: $h4-font-size;
            height: $h4-font-size;
        }
        padding-top: $h2-font-size * .2;
    }
    /**
    * Site nav (nav)
    */
    .site-nav {
        display: block;
        opacity: 1;
        float: right;
        padding: 0 $spacing-unit 0 0;
        background-color: $header-bg-clr;
        font-size: $h4-font-size;
        font-weight: $bold-font-weight;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        ul {
            padding: 0;
            margin: 0;
            white-space: nowrap;
            li {
                display: inline-block;
                line-height: $h2-font-size * 1.5 / $h4-font-size;
                &:not(:last-child) {
                    margin-right: 16px;
                }
            }
        }

        transition:         opacity .5s;
        -moz-transition:    opacity .5s;    /* Firefox 4 */
        -webkit-transition: opacity .5s;	/* Safari and Chrome */
        -o-transition:      opacity .5s;      /* Opera */

    }

    @include media-query($on-palm) {
        & {
            padding: $spacing-unit / 2 0 0 0;
            box-shadow: 0 0 0 $sd-clr;
        }
        #menu-button {
            opacity: 1;
            visibility: visible;
        }
        .title-wrapper {
            float: none;
            padding: 0 0 $spacing-unit / 2 $spacing-unit / 2;
        }
        .site-nav {
            float: none;
            padding: $spacing-unit / 6 $spacing-unit / 2;
            background-color: $header-nav-bg-clr;
            box-shadow: 0 1px 4px $sd-clr;
        }
    }
    transition:         margin-top .5s;
    -moz-transition:    margin-top .5s;    /* Firefox 4 */
    -webkit-transition: margin-top .5s;   /* Safari and Chrome */
    -o-transition:      margin-top .5s;      /* Opera */
}
