.main {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 $spacing-unit;
    max-width: $content-max-width;
    width: 100%;
    @include media-query($on-laptop) {
        padding: 0 $spacing-unit / 2;
    }
    @include media-query($on-palm) {
        padding: 0 $spacing-unit / 2;
    }
}

.paper-corner-upleft {
	display: table;
	position: relative;
	padding: 4px;
	left: -4px;
    top: -4px;
    margin-bottom: -4px;
	background-color: $bg-clr;
	    &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: $spacing-unit * 0.8 solid transparent;
        border-right: $spacing-unit * 0.8 solid $bd-clr;
        margin-right: -4px;
        margin-bottom: -4px;
    }
}
