<!DOCTYPE html>
<html lang="{{ site.lang }}">
    <head>
        {% include common-head.html %}
        {% include blog/head-icons-rel.html %}
        <style>
            {% if page.picture-frame == 'shadow' %}
            .article-content img {
                box-shadow: 0 0 5px rgba(0, 0, 0, .4);
            }
            {% endif %}
            {% if page.picture-max-width %}
            .article-content .content-img {
                max-width: {{ page.picture-max-width }};
            }
            {% endif %}
        </style>
        <link rel="stylesheet" href="{{ "/statics/css/blog.css" | prepend: site.baseurl | replace:'//','/' }}">
        <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        {{ content }}
        {% include utils/google-analytics.html %}
        {% include utils/duoshuo-js.html %}
    </body>
</html>
