/**
 * Links
 */

a {
    font-weight: $bold-font-weight;
    text-decoration: none;
    @include link-colors($link-clr, $link-hv-clr);
    @include link-normal {
        color: $link-clr;
    }
    @include link-emphasize {
        color: $link-hv-clr;
        text-decoration: underline;
    }
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;

}

%cursor-pointer {
    cursor:pointer;
}

.round-button {
    @extend %cursor-pointer;
    display: block;
    font-weight: $base-font-weight;
    text-align: center;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 50%;
    @include link-normal {
        border: 1px solid $bd-clr;
        color: $text-clr-l;
        text-decoration: none;
    }
    @include link-emphasize {
        border: 1px solid $botton-hv-clr;
        background-color: $botton-hv-clr;
        color: $main-tx-odd-clr;
        text-decoration: none;
    }

    .icon {
        @include link-normal {
            path {
                fill: $text-clr-l;
            }
        }
        @include link-emphasize {
            path {
                fill: $main-tx-odd-clr;
            }
        }
    }
    //inactive button (gray)
    &.inactive {
        @include link-normal {
            color: $text-clr-l;
        }
        @include link-emphasize {
            border-color: $bd-clr;
            background-color: transparent;
            color: $bd-clr;
        }
        .icon {
            @include link-normal {
                path {
                    fill: $bd-clr;
                }
            }
            @include link-emphasize {
                path {
                    fill: $bd-clr;
                }
            }
        }
    }

    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

.round-rect-button {
    @extend %cursor-pointer;
    display: block;
    font-weight: $base-font-weight;
    box-sizing: border-box;
    padding: 0 0.6em;
    line-height: 1.6;
    border-radius: 1em;
    @include link-normal {
        border: 1px solid $bd-clr;
        color: $text-clr-l;
        text-decoration: none;
    }
    @include link-emphasize {
        border: 1px solid $botton-hv-clr;
        background-color: $botton-hv-clr;
        color: $main-tx-odd-clr;
        text-decoration: none;

    }
    .icon {
        @include link-normal {
            path {
                fill: $text-clr-l;
            }
        }
        @include link-emphasize {
            path {
                fill: $main-tx-odd-clr;
            }
        }
    }
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}
