/**
 * Links
 */

a {
    font-weight: $bold-font-weight;
    text-decoration: none;
    @include link-colors($link-clr, $link-hv-clr);
    @include link-normal {
        color: $link-clr;
    }
    @include link-emphasize {
        color: $link-hv-clr;
        text-decoration: underline;
    }
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;

}

%cursor-pointer {
    cursor:pointer;
}

%cursor-default {
    cursor: default;
}
%cursor-not-allowed {
    cursor: not-allowed;
}

.round-button {
    @extend %cursor-pointer;
    display: block;
    font-weight: $base-font-weight;
    text-align: center;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 50%;
    @include link-normal {
        background-color: $text-bg-clr;
        color: $text-clr;
        text-decoration: none;
    }
    @include link-emphasize {
        background-color: $link-hv-clr;
        color: $text-odd-clr;
        text-decoration: none;
    }

    .icon {
        @include link-normal {
            path {
                fill: $text-clr;
            }
        }
        @include link-emphasize {
            path {
                fill: $text-odd-clr;
            }
        }
    }
    //inactive button (gray)
    &.inactive {
        @extend %cursor-not-allowed;
        @include link-normal {
            color: $text-clr;
        }
        @include link-emphasize {
            background-color: $text-bg-clr;
        }
        .icon {
            @include link-normal {
                path {
                    fill: $text-clr-l;
                }
            }
            @include link-emphasize {
                path {
                    fill: $text-clr-l;
                }
            }
        }
    }

    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

.round-rect-button {
    @extend %cursor-pointer;
    display: block;
    font-weight: $base-font-weight;
    box-sizing: border-box;
    padding: 0 0.6em;
    line-height: 1.6;
    border-radius: 1em;
    @include link-normal {
        background-color: $text-bg-clr;
        color: $text-clr;
        text-decoration: none;
    }
    @include link-emphasize {
        background-color: $link-hv-clr;
        color: $text-odd-clr;
        text-decoration: none;

    }
    .icon {
        @include link-normal {
            path {
                fill: $text-clr;
            }
        }
        @include link-emphasize {
            path {
                fill: $text-odd-clr;
            }
        }
    }
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}
