/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $bold-font-weight;
    color: $main-tx-clr;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
    font-weight: ($base-font-weight + $bold-font-weight) / 2;
}

h6 {
    font-size: $h6-font-size;
    font-weight: ($base-font-weight + $bold-font-weight) /  2;
    color: $main-tx-clr-sub;
}

p {
    color: $main-tx-clr;
}

/**
 * Code formatting
 */
pre,
code {
    font-family: $code-font-family;
    font-size: $code-font-size;
}
