/**
 * Headings
 */

 body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-clr;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $bold-font-weight;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
    font-weight: ($base-font-weight + $bold-font-weight) / 2;
}

h6 {
    font-size: $h6-font-size;
    font-weight: ($base-font-weight + $bold-font-weight) /  2;
    color: $text-clr-l;
}

/**
 * Code formatting
 */
pre,
code {
    font-family: $code-font-family;
    font-size: $code-font-size;
}
